# CUBEM 2019 Data Preprocessing

This notebook contains preprocessing steps for the CUBEM 2019 Floor 2 dataset.

## Import Libraries

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Dataset Description

Chamchuri 5 is a seven-story academic office building located at Chulalongkorn University.
The building has an area of around 11,700 square meters (126,000 sqft).
A typical building peak load is around 700 kW.

The building is equipped with CU-BEMS -- the building energy management system,
developed at Chulalongkorn University. Since mid-2018, CU-BEMS has been used to
measure power consumption of building loads by type, as well as indoor temperature,
humidity, and ambient light condition in each zone of the building.

## Load Dataset

In [18]:
df = pd.read_csv("../data/cu-bem/2019Floor2.csv/2019Floor2.csv")

# --- 4. Basic Info ---
print("Dataset shape (rows, columns):", df.shape)
print("\nColumn Names:\n", df.columns.tolist())
print("\nFirst 5 Rows:")
display(df.head())

# Print all columns
print("\nAll Columns:")
for i, col in enumerate(df.columns):
    print(f"{i+1:2d}. {col}")

Dataset shape (rows, columns): (525600, 37)

Column Names:
 ['Date', 'z1_AC1(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_AC5(kW)', 'z2_AC6(kW)', 'z2_AC7(kW)', 'z2_AC8(kW)', 'z2_AC9(kW)', 'z2_AC10(kW)', 'z2_AC11(kW)', 'z2_AC12(kW)', 'z2_AC13(kW)', 'z2_AC14(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z3_S1(degC)', 'z3_S1(RH%)', 'z3_S1(lux)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)']

First 5 Rows:

,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_AC2(kW),z2_AC3(kW),...,z3_Plug(kW),z3_S1(degC),z3_S1(RH%),z3_S1(lux),z4_AC1(kW),z4_Light(kW),z4_Plug(kW),z4_S1(degC),z4_S1(RH%),z4_S1(lux)
0,2019-01-01 00:00:00,0.0,0.31,0.09,NaN,NaN,NaN,0.00,1.15,0.85,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
1,2019-01-01 00:01:00,0.0,0.31,0.09,NaN,NaN,NaN,0.00,1.14,0.84,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
2,2019-01-01 00:02:00,0.0,0.31,0.09,NaN,NaN,NaN,0.00,1.14,0.83,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
3,2019-01-01 00:03:00,0.0,0.31,0.09,NaN,NaN,NaN,0.85,1.15,0.84,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN
4,2019-01-01 00:04:00,0.0,0.31,0.09,NaN,NaN,NaN,0.94,1.17,0.87,...,0.23,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN

All Columns:
 1. Date
 2. z1_AC1(kW)
 3. z1_Light(kW)
 4. z1_Plug(kW)
 5. z1_S1(degC)
 6. z1_S1(RH%)
 7. z1_S1(lux)
 8. z2_AC1(kW)
 9. z2_AC2(kW)
10. z2_AC3(kW)
11. z2_AC4(kW)
12. z2_AC5(kW)
13. z2_AC6(kW)
14. z2_AC7(kW)
15. z2_AC8(kW)
16. z2_AC9(kW)
17. z2_AC10(kW)
18. z2_AC11(kW)
19. z2_AC12(kW)
20. z2_AC13(kW)
21. z2_AC14(kW)
22. z2_Light(kW)
23. z2_Plug(kW)
24. z2_S1(degC)
25. z2_S1(RH%)
26. z2_S1(lux)
27. z3_Light(kW)
28. z3_Plug(kW)
29. z3_S1(degC)
30. z3_S1(RH%)
31. z3_S1(lux)
32. z4_AC1(kW)
33. z4_Light(kW)
34. z4_Plug(kW)
35. z4_S1(degC)
36. z4_S1(RH%)
37. z4_S1(lux)

## Missing Values Analysis

In [19]:
# Quick overview of data types and missing values
print("\nData Info:")
print(df.info())

print("\nMissing Values per Column:")
print(df.isnull().sum())
# Percentage of missing values
missing_pct = (df.isnull().sum() / len(df)) * 100
display(missing_pct[missing_pct > 0].sort_values(ascending=False))

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 37 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Date          525600 non-null  object
 1   z1_AC1(kW)    495832 non-null  float64
 2   z1_Light(kW)  524967 non-null  float64
 3   z1_Plug(kW)   524964 non-null  float64
 4   z1_S1(degC)   413992 non-null  float64
 5   z1_S1(RH%)    413992 non-null  float64
 6   z1_S1(lux)    413992 non-null  float64
 7   z2_AC1(kW)    495710 non-null  float64
 8   z2_AC2(kW)    523441 non-null  float64
 9   z2_AC3(kW)    523441 non-null  float64
 10  z2_AC4(kW)    523441 non-null  float64
 11  z2_AC5(kW)    524949 non-null  float64
 12  z2_AC6(kW)    524949 non-null  float64
 13  z2_AC7(kW)    524949 non-null  float64
 14  z2_AC8(kW)    524949 non-null  float64
 15  z2_AC9(kW)    524949 non-null  float64
 16  z2_AC10(kW)   524949 non-null  float64
 17  z2_AC11(kW)   524949 non-null  float64
 18  z2_AC12(kW)   524949 non-null  float64
 19  z2_AC13(kW)   524949 non-null  float64
 20  z2_AC14(kW)   524949 non-null  float64
 21  z2_Light(kW)  524864 non-null  float64
 22  z2_Plug(kW)   524817 non-null  float64
 23  z2_S1(degC)   428579 non-null  float64
 24  z2_S1(RH%)    428582 non-null  float64
 25  z2_S1(lux)    428580 non-null  float64
 26  z3_Light(kW)  524966 non-null  float64
 27  z3_Plug(kW)   524967 non-null  float64
 28  z3_S1(degC)   423189 non-null  float64
 29  z3_S1(RH%)    423190 non-null  float64
 30  z3_S1(lux)    423186 non-null  float64
 31  z4_AC1(kW)    495828 non-null  float64
 32  z4_Light(kW)  523441 non-null  float64
 33  z4_Plug(kW)   524817 non-null  float64
 34  z4_S1(degC)   422315 non-null  float64
 35  z4_S1(RH%)    422317 non-null  float64
 36  z4_S1(lux)    422312 non-null  float64
dtypes: float64(36), object(1)
memory usage: 148.4+ MB
None

Missing Values per Column:
Date                 0
z1_AC1(kW)       29768
z1_Light(kW)       633
z1_Plug(kW)        636
z1_S1(degC)     111608
z1_S1(RH%)      111608
z1_S1(lux)      111608
z2_AC1(kW)       29890
z2_AC2(kW)        2159
z2_AC3(kW)        2159
z2_AC4(kW)        2159
z2_AC5(kW)         651
z2_AC6(kW)         651
z2_AC7(kW)         651
z2_AC8(kW)         651
z2_AC9(kW)         651
z2_AC10(kW)        651
z2_AC11(kW)        651
z2_AC12(kW)        651
z2_AC13(kW)        651
z2_AC14(kW)        651
z2_Light(kW)       736
z2_Plug(kW)        783
z2_S1(degC)      97021
z2_S1(RH%)       97018
z2_S1(lux)       97020
z3_Light(kW)       634
z3_Plug(kW)        633
z3_S1(degC)     102411
z3_S1(RH%)      102410
z3_S1(lux)      102414
z4_AC1(kW)       29772
z4_Light(kW)      2159
z4_Plug(kW)        783
z4_S1(degC)     103285
z4_S1(RH%)      103283
z4_S1(lux)      103288
dtype: int64

z1_S1(degC)     21.234399
z1_S1(RH%)      21.234399
z1_S1(lux)      21.234399
z4_S1(lux)      19.651446
z4_S1(degC)     19.650875
z4_S1(RH%)      19.650495
z3_S1(lux)      19.485160
z3_S1(degC)     19.484589
z3_S1(RH%)      19.484399
z2_S1(degC)     18.459094
z2_S1(lux)      18.458904
z2_S1(RH%)      18.458524
z2_AC1(kW)       5.686834
z4_AC1(kW)       5.664384
z1_AC1(kW)       5.663623
z2_AC4(kW)       0.410769
z4_Light(kW)     0.410769
z2_AC2(kW)       0.410769
z2_AC3(kW)       0.410769
z2_Plug(kW)      0.148973
z4_Plug(kW)      0.148973
z2_Light(kW)     0.140030
z2_AC6(kW)       0.123858
z2_AC5(kW)       0.123858
z2_AC14(kW)      0.123858
z2_AC13(kW)      0.123858
z2_AC8(kW)       0.123858
z2_AC7(kW)       0.123858
z2_AC10(kW)      0.123858
z2_AC9(kW)       0.123858
z2_AC12(kW)      0.123858
z2_AC11(kW)      0.123858
z1_Plug(kW)      0.121005
z3_Light(kW)     0.120624
z1_Light(kW)     0.120434
z3_Plug(kW)      0.120434
dtype: float64

In [20]:

# Separate column types
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
categorical_cols = df.select_dtypes(include=['object']).columns.tolist()
datetime_cols = df.select_dtypes(include=['datetime64']).columns.tolist()

print("Numeric Columns:", numeric_cols)
print("Categorical Columns:", categorical_cols)
print("Datetime Columns:", datetime_cols)

Numeric Columns: ['z1_AC1(kW)', 'z1_Light(kW)', 'z1_Plug(kW)', 'z1_S1(degC)', 'z1_S1(RH%)', 'z1_S1(lux)', 'z2_AC1(kW)', 'z2_AC2(kW)', 'z2_AC3(kW)', 'z2_AC4(kW)', 'z2_AC5(kW)', 'z2_AC6(kW)', 'z2_AC7(kW)', 'z2_AC8(kW)', 'z2_AC9(kW)', 'z2_AC10(kW)', 'z2_AC11(kW)', 'z2_AC12(kW)', 'z2_AC13(kW)', 'z2_AC14(kW)', 'z2_Light(kW)', 'z2_Plug(kW)', 'z2_S1(degC)', 'z2_S1(RH%)', 'z2_S1(lux)', 'z3_Light(kW)', 'z3_Plug(kW)', 'z3_S1(degC)', 'z3_S1(RH%)', 'z3_S1(lux)', 'z4_AC1(kW)', 'z4_Light(kW)', 'z4_Plug(kW)', 'z4_S1(degC)', 'z4_S1(RH%)', 'z4_S1(lux)']
Categorical Columns: ['Date']
Datetime Columns: []

In [21]:
df[numeric_cols] = df[numeric_cols].interpolate(method='linear', limit_direction='forward')

### Categorical Columns (e.g., building zone, load type)

Fill with most frequent (mode) OR "Unknown".

In [22]:
for col in categorical_cols:
    if df[col].isna().any():
        mode_vals = df[col].mode(dropna=True)
        fill_val = mode_vals.iloc[0] if not mode_vals.empty else "Unknown"
        df[col] = df[col].fillna(fill_val)

## Time Series Cleaning Function

Advanced function to clean and regularize time series data with proper datetime handling, deduplication, and interpolation.

In [23]:
def clean_time_series(
    df: pd.DataFrame,
    date_col: str = "Date",
    group_cols: list | None = None,
    freq: str = "H",
    agg: str = "mean",         
    interpolate_limit_direction: str = "both"
) -> pd.DataFrame:
    """
    1) Parse datetime column
    2) Sort + drop duplicate timestamps
    3) Aggregate to regular frequency (e.g., hourly)
    4) Reindex to a continuous time range
    5) Interpolate numeric columns over time
    """
    # 1) Parse datetime & drop unparsable rows
    df = df.copy()
    df[date_col] = pd.to_datetime(df[date_col], errors="coerce")
    df = df.dropna(subset=[date_col])

    # Choose aggregator
    if agg not in {"mean", "sum", "median"}:
        raise ValueError("agg must be one of {'mean','sum','median'}")
    agg_fn = {"mean": "mean", "sum": "sum", "median": "median"}[agg]

    def _per_group(g: pd.DataFrame) -> pd.DataFrame:
        # 2) Sort & dedupe
        g = g.sort_values(date_col).drop_duplicates(subset=[date_col])

        # 3) Aggregate to target frequency (numeric columns only)
        g = (
            g.set_index(date_col)
             .groupby(pd.Grouper(freq=freq))
             .agg(agg_fn, numeric_only=True)
        )

        # 4) Reindex to continuous range
        if len(g.index) == 0:
            return pd.DataFrame(columns=[date_col])  # empty group
        full_idx = pd.date_range(start=g.index.min(), end=g.index.max(), freq=freq)
        g = g.reindex(full_idx)

        # 5) Interpolate numeric columns over time
        num_cols = g.select_dtypes(include="number").columns
        if len(num_cols) > 0:
            g[num_cols] = g[num_cols].interpolate(
                method="time", limit_direction=interpolate_limit_direction
            )

        # Restore datetime column
        g = g.reset_index().rename(columns={"index": date_col})
        return g

    if group_cols:
        # Keep group keys alongside numeric data through the pipeline
        # (Assumes group_cols are stable per timestamp; if not, reattach after.)
        out = (
            df.groupby(group_cols, group_keys=True, dropna=False)
              .apply(_per_group)
              .reset_index(level=list(range(len(group_cols))), drop=True)
              .reset_index(drop=True)
        )
        # Reattach group columns via forward fill if needed
        for c in group_cols:
            if c not in out.columns:
                # bring back as columns by repeating each group's key
                out[c] = (
                    df[[c]].drop_duplicates().iloc[0][0]
                    if df[c].nunique(dropna=False) == 1 else np.nan
                )
        # If group labels were lost, merge back on nearest timestamps per group as needed.
    else:
        out = _per_group(df)

    
    print("Shape after datetime cleaning:", out.shape)
    print("Remaining NaNs (any):", out.isna().any().any())
    return out

In [24]:
df_clean = clean_time_series(df, date_col="Date", freq="H", agg="sum")

Shape after datetime cleaning: (8760, 37)
Remaining NaNs (any): False

C:\Users\anour\AppData\Local\Temp\ipykernel_18004\169951731.py:33: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .groupby(pd.Grouper(freq=freq))
C:\Users\anour\AppData\Local\Temp\ipykernel_18004\169951731.py:40: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_idx = pd.date_range(start=g.index.min(), end=g.index.max(), freq=freq)

In [25]:
print("Remaining Missing Values:", df_clean.isnull().sum().sum())

Remaining Missing Values: 0

## Additional Preprocessing Steps

Now that missing values are handled, here are other important preprocessing techniques for building energy data:

### 1. Data Type Optimization

Convert data types to save memory and improve performance.

In [26]:
# Convert float64 to float32 to save memory
for col in df_clean.select_dtypes(include=['float64']).columns:
    df_clean[col] = df_clean[col].astype('float32')

# Convert object columns to category if they have few unique values
for col in df_clean.select_dtypes(include=['object']).columns:
    if df_clean[col].nunique() < 100:  # threshold for categorical conversion
        df_clean[col] = df_clean[col].astype('category')

print("Memory usage after optimization:")
print(df_clean.memory_usage(deep=True).sum() / 1024**2, "MB")

Memory usage after optimization:
1.2699623107910156 MB

### 2. Feature Engineering

Create new features from existing data for better analysis.

In [27]:
# Extract time-based features from Date column
df_clean['year'] = df_clean['Date'].dt.year
df_clean['month'] = df_clean['Date'].dt.month
df_clean['day'] = df_clean['Date'].dt.day
df_clean['hour'] = df_clean['Date'].dt.hour
df_clean['day_of_week'] = df_clean['Date'].dt.dayofweek  # 0=Monday, 6=Sunday
df_clean['is_weekend'] = df_clean['day_of_week'].isin([5, 6])
df_clean['season'] = df_clean['month'].map({12: 'Winter', 1: 'Winter', 2: 'Winter',
                               3: 'Spring', 4: 'Spring', 5: 'Spring',
                               6: 'Summer', 7: 'Summer', 8: 'Summer',
                               9: 'Fall', 10: 'Fall', 11: 'Fall'})

# Create total power consumption per zone
zones = ['z1', 'z2', 'z3', 'z4']
for zone in zones:
    # Sum all power consumption for each zone
    power_cols = [col for col in df_clean.columns if col.startswith(zone) and '(kW)' in col]
    if power_cols:
        df_clean[f'{zone}_Total_Power(kW)'] = df_clean[power_cols].sum(axis=1)

print("New features created:")
print([col for col in df_clean.columns if col not in numeric_cols + categorical_cols + ['Date']])

New features created:
['year', 'month', 'day', 'hour', 'day_of_week', 'is_weekend', 'season', 'z1_Total_Power(kW)', 'z2_Total_Power(kW)', 'z3_Total_Power(kW)', 'z4_Total_Power(kW)']

### 3. Outlier Detection and Treatment

Identify and handle outliers in energy consumption data.

In [28]:
# Detect outliers using IQR method for power consumption columns
power_cols = [col for col in df_clean.columns if '(kW)' in col]

def detect_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return (data[column] < lower_bound) | (data[column] > upper_bound)

outlier_summary = {}
for col in power_cols[:5]:  # Check first 5 power columns
    outliers = detect_outliers_iqr(df_clean, col)
    outlier_count = outliers.sum()
    outlier_percentage = (outlier_count / len(df_clean)) * 100
    outlier_summary[col] = {'count': outlier_count, 'percentage': outlier_percentage}

print("Outlier Summary (IQR method):")
for col, stats in outlier_summary.items():
    print(f"{col}: {stats['count']} outliers ({stats['percentage']:.2f}%)")

# Option 1: Cap outliers at 99th percentile
# for col in power_cols:
#     df_clean[col] = df_clean[col].clip(upper=df_clean[col].quantile(0.99))

# Option 2: Remove extreme outliers (optional)
# df_clean = df_clean[~df_clean[power_cols].apply(lambda x: detect_outliers_iqr(df_clean, x.name), axis=0).any(axis=1)]

Outlier Summary (IQR method):
z1_AC1(kW): 0 outliers (0.00%)
z1_Light(kW): 0 outliers (0.00%)
z1_Plug(kW): 0 outliers (0.00%)
z2_AC1(kW): 0 outliers (0.00%)
z2_AC2(kW): 0 outliers (0.00%)

### 4. Data Validation

Check data quality and consistency.

In [29]:
# Check for negative power values (shouldn't exist for consumption)
negative_power = (df_clean[power_cols] < 0).any().any()
print(f"Negative power values found: {negative_power}")

# Check for unrealistic power values (e.g., > 1000 kW for a single zone)
high_power = (df_clean[power_cols] > 1000).any().any()
print(f"Unrealistically high power values (>1000kW): {high_power}")

# Check temperature ranges (should be reasonable for indoor/outdoor)
temp_cols = [col for col in df_clean.columns if 'degC' in col]
if temp_cols:
    print(f"\nTemperature ranges:")
    for col in temp_cols[:3]:  # Check first 3 temperature columns
        print(f"{col}: {df_clean[col].min():.1f}°C to {df_clean[col].max():.1f}°C")

# Check humidity ranges (should be 0-100%)
humidity_cols = [col for col in df_clean.columns if 'RH%' in col]
if humidity_cols:
    print(f"\nHumidity ranges:")
    for col in humidity_cols[:3]:  # Check first 3 humidity columns
        print(f"{col}: {df_clean[col].min():.1f}% to {df_clean[col].max():.1f}%")

# Check for duplicate timestamps
duplicate_timestamps = df_clean['Date'].duplicated().sum()
print(f"\nDuplicate timestamps: {duplicate_timestamps}")

# Check data completeness by hour
hourly_counts = df_clean.groupby(df_clean['Date'].dt.floor('H')).size()
missing_hours = hourly_counts[hourly_counts == 0].count()
print(f"Missing hours in dataset: {missing_hours}")

Negative power values found: False
Unrealistically high power values (>1000kW): True

Temperature ranges:
z1_S1(degC): 0.0°C to 1863.2°C
z2_S1(degC): 0.0°C to 1848.0°C
z3_S1(degC): 0.0°C to 1894.3°C

Humidity ranges:
z1_S1(RH%): 0.0% to 4528.0%
z2_S1(RH%): 0.0% to 4966.0%
z3_S1(RH%): 0.0% to 5054.2%

Duplicate timestamps: 0
Missing hours in dataset: 0

C:\Users\anour\AppData\Local\Temp\ipykernel_18004\2389194787.py:28: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_counts = df_clean.groupby(df_clean['Date'].dt.floor('H')).size()

### 5. Data Scaling and Normalization

Prepare data for machine learning models.

In [30]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

# Choose scaling method based on data characteristics
# StandardScaler: good for normally distributed data
# MinMaxScaler: good for bounded data (0-1 range)
# RobustScaler: good for data with outliers

# Example: Scale power consumption data
scaler = StandardScaler()
power_data_scaled = scaler.fit_transform(df_clean[power_cols])

# Create a copy with scaled data
df_scaled = df_clean.copy()
df_scaled[power_cols] = power_data_scaled

print("Scaling applied to power consumption columns")
print(f"Original power data range: {df_clean[power_cols].min().min():.2f} to {df_clean[power_cols].max().max():.2f}")
print(f"Scaled power data range: {df_scaled[power_cols].min().min():.2f} to {df_scaled[power_cols].max().max():.2f}")

# Save scaler for later use (inverse transform)
import joblib
joblib.dump(scaler, 'power_scaler.pkl')
print("Scaler saved as 'power_scaler.pkl'")

Scaling applied to power consumption columns
Original power data range: 0.00 to 3178.45
Scaled power data range: -3.55 to 48.18
Scaler saved as 'power_scaler.pkl'

### 6. Final Data Summary

Summary of the preprocessed dataset.

In [31]:
# Final dataset summary
print("=== PREPROCESSED DATASET SUMMARY ===")
print(f"Final shape: {df_clean.shape}")
print(f"Date range: {df_clean['Date'].min()} to {df_clean['Date'].max()}")
print(f"Total duration: {(df_clean['Date'].max() - df_clean['Date'].min()).days} days")
print(f"Memory usage: {df_clean.memory_usage(deep=True).sum() / 1024**2:.2f} MB")

print(f"\nColumn types:")
print(f"- Numeric columns: {len(df_clean.select_dtypes(include=[np.number]).columns)}")
print(f"- Categorical columns: {len(df_clean.select_dtypes(include=['category']).columns)}")
print(f"- Object columns: {len(df_clean.select_dtypes(include=['object']).columns)}")

print(f"\nMissing values:")
missing_summary = df_clean.isnull().sum()
missing_cols = missing_summary[missing_summary > 0]
if len(missing_cols) > 0:
    print("Columns with missing values:")
    for col, count in missing_cols.items():
        print(f"  {col}: {count} ({count/len(df_clean)*100:.2f}%)")
else:
    print("No missing values remaining!")

print(f"\nData quality checks:")
print(f"- Negative power values: {(df_clean[power_cols] < 0).any().any()}")
print(f"- Duplicate timestamps: {df_clean['Date'].duplicated().sum()}")
print(f"- Data completeness: {((df_clean['Date'].max() - df_clean['Date'].min()).total_seconds() / 3600 - len(df_clean)) / ((df_clean['Date'].max() - df_clean['Date'].min()).total_seconds() / 3600) * 100:.2f}%")

print(f"\nDataset is ready for analysis!")

=== PREPROCESSED DATASET SUMMARY ===
Final shape: (8760, 48)
Date range: 2019-01-01 00:00:00 to 2019-12-31 23:00:00
Total duration: 364 days
Memory usage: 2.03 MB

Column types:
- Numeric columns: 45
- Categorical columns: 0
- Object columns: 1

Missing values:
No missing values remaining!

Data quality checks:
- Negative power values: False
- Duplicate timestamps: 0
- Data completeness: -0.01%

Dataset is ready for analysis!

In [32]:
df_clean.head()

,Date,z1_AC1(kW),z1_Light(kW),z1_Plug(kW),z1_S1(degC),z1_S1(RH%),z1_S1(lux),z2_AC1(kW),z2_AC2(kW),z2_AC3(kW),...,month,day,hour,day_of_week,is_weekend,season,z1_Total_Power(kW),z2_Total_Power(kW),z3_Total_Power(kW),z4_Total_Power(kW)
0,2019-01-01 00:00:00,0.0,18.650000,5.40,0.0,0.0,0.0,33.169998,68.339996,50.480000,...,1,1,0,1,False,Winter,24.049999,316.859985,22.580000,0.0
1,2019-01-01 01:00:00,0.0,18.840000,5.40,0.0,0.0,0.0,37.990002,68.620003,50.880001,...,1,1,1,1,False,Winter,24.240000,337.160034,23.160000,0.0
2,2019-01-01 02:00:00,0.0,18.860001,5.42,0.0,0.0,0.0,37.310001,68.510002,50.810001,...,1,1,2,1,False,Winter,24.280001,334.160004,23.180000,0.0
3,2019-01-01 03:00:00,0.0,18.540001,5.39,0.0,0.0,0.0,36.500000,66.750000,49.470001,...,1,1,3,1,False,Winter,23.930000,326.170013,22.970001,0.0
4,2019-01-01 04:00:00,0.0,18.730000,5.40,0.0,0.0,0.0,37.400002,67.559998,50.169998,...,1,1,4,1,False,Winter,24.129999,332.079987,23.110001,0.0